<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подтверждение заказа</title>
</head>
<body>
<h1>Подтверждение заказа</h1>

<p>Блюдо: <span th:text="${menu.name}"></span></p>
<p>Описание: <span th:text="${menu.description}"></span></p>
<p>Цена: <span th:text="${menu.price} + ' ₽'"></span></p>
<p>Ресторан: <span th:text="${menu.restaurant.name}"></span></p>
<p>Итоговая цена: <span th:text="${totalPrice} + ' ₽'"></span></p>

<form th:action="@{/client/order/confirm}" method="post">
  <input type="hidden" name="menuId" th:value="${menu.id}" />
  <button type="submit">Подтвердить</button>
</form>
</body>
</html>
